.main-nav-ul {
    display: flex;
    justify-content: space-evenly;
    /* background-color: red; */
    margin-left: auto;
}

nav {
    display: flex;
    /* justify-content: center; */
    width: 63%;
    /* background-color: red; */
    margin: 0 auto;
    align-content: center;
    font-size: 17px;
    font-weight: 400;
    color: white;
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 1;
    transition-duration: 0.3s;
}

img {
    width: 100%;
}

.logo-icon {
    width: 50px;
    display: flex;
    align-items: center;
}

.logo-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
}

.logo-name {
    /* text-align: center; */
    align-self: center;
    margin-left: 20px;
}

/* .logo-name span { */
    /* color: rgb(23, 140, 250); */
    /* font-weight: 600; */
/* } */

.main-nav-li {
    display: flex;
    margin: auto 20px;
    position: relative;
    transition-duration: 0.3s;
    flex-direction: row-reverse;
}

.main-nav-li::before {
    position: absolute;
    height: 2px;
    background-color: rgb(23, 140, 250);
    width: 0;
    content: '';
    bottom: -3px;
    left: 50%;
    transition-duration: 0.3s;
}

.main-nav-li::after {
    position: absolute;
    height: 2px;
    background-color: rgb(23, 140, 250);
    width: 0;
    content: '';
    bottom: -3px;
    left: 50%;
    transition-duration: 0.3s;
}

.main-nav-li:hover::before {
    width: 50%;
}

.main-nav-li:hover::after {
    left: 0;
    width: 50%;
}

a {
    color: white;
}

body {
    background-image: url('../static/bg2.jpg');
    background-position-y: -50px;
    /* background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../static/bg2.jpg'); */


}

.logo-online {
    align-self: center;
    color: rgb(90, 240, 90);
}

.status-icon {
    color: rgb(90, 240, 90);
    /* width: 4%; */
    /* height: 4%; */
    width: 10px;
}

.status-icon-wrapper {
    align-self: center;
    margin-left: 40px;
    max-width: 20px;
    margin-right: 8px;
}

.nav-wrapper-main {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: transparent;
    transition-duration: 0.3s;
    height: 100px;
}

.nav-scrolled nav{
    height: 70px;
}

.nav-scrolled {
    background-color: #000a11;
    height: 75px;
}

.nav-outer-wrapper {
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 10;
}
