.main-image {
    width: 300px;
}

.main-info-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.main-info-content {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
}
.main-info-content--ip {
    font-size: 50px;
    font-weight: 600;
}

.main-info-content--ip span {
    color: rgb(23, 140, 250);
}

.main-info-content--slogan {
    font-size: 30px;
}

.main-info-content button {
    background-color: rgb(23, 140, 250);
    padding: 10px 40px;
    border: 0;
    cursor: pointer;
    border-radius: 15px;
    margin-top: 20px;
    color: white;
    transition-duration: 0.3s;
}

.main-info-content button:hover {
    background-color: white;
    color: rgb(23, 140, 250);
}

.main-leaderboard-table {
    /* background-color: #001320; */
    /* border: 1px solid black; */
    width: 51%;
    margin: 0 auto;
    border: 1px solid #002138;
    border-radius: 20px;
    margin-top: 50px;
    margin-bottom: 100px;
    transition-duration: 2s;
}

.single-row-in-table {
    display: flex;
    margin-top: 10px;
    position: relative;
}

.in-table-rank {
    font-size: 70px;
    align-self: center;
    font-weight: 700;
    color: white;
    margin-left: 25px;
}

.ranking-actual-table {
    background-color: #001829;
    border-radius: 20px;
    /* border: 1px solid #002138; */
    padding-bottom: 50px;
}

.player-image {
    width: 60px;
    height: 50px;
    align-self: center;
    margin-left: 20px;
    /* background-color: red; */
    border: 1px solid yellow;
    border-radius: 15px;
    padding: 10px;
    /* background-image: url('https://minotar.net/avatar/d9135e082f2244c89cb0bee234155292/128');
    background-repeat: no-repeat;
    background-size: cover; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-image div {
    /* background-image: url('https://minotar.net/avatar/d9135e082f2244c89cb0bee234155292/128'); */
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
}

/* .player-image img {
    align-self: center;
    justify-self: center;
} */

.ranking-type-selector li {
    background-color: rgb(23, 140, 250);
    padding: 8px 20px;
    color: white;
    border-radius: 10px;
    width: 40%;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    transition-duration: 0.3s;
}

.ranking-type-selector li:hover {
    color: rgb(23, 140, 250);
    background-color: white;
}

.what-board-header {
    padding-top: 10px;
    align-self: center;
    justify-self: center;
    text-align: center;
    color: white;
}

.ranking-type-ul {
    display: flex;
    justify-content: center;
}

.in-table-nick {
    align-self: center;
    background-color:  #002842;
    width: 550px;
    margin-left: 20px;
    /* text-align: center; */
    border-radius: 20px;
    color: white;
    padding: 22px 15px;
    font-size: 20px;
    font-weight: 600;
}

.in-table-points {
    align-self: center;
    color: rgb(23, 140, 250);
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: 80px;
}

.main-cart-icon {
    margin-left: 5px;
}

.into-load {
    animation: 1s linear 0s 1 running appear_on_page;
}

.event-continer {
    /* width: 200px; */
    /* height: 200px; */
    /* overflow: hidden; */
    border: 1px solid #002138;
    border-radius: 20px;
    margin: 0 30px;
    padding: 15px;
    background-color:#001829;
    height: inherit;
    transition-duration: 0.6s;
}

.event-continer:hover {
    cursor: pointer;
}

.events-outer-wrapper {
    margin-bottom: 100px;
    overflow: hidden;
}

.events-inner-wrapper {
    display: flex;
    position: relative;
    left: 37%;
    /* overflow: hidden; */
    transition-duration: 0.6s;

}

.event-continer > h2 {
    /* text-align: center; */
    color: rgb(23, 140, 250);
    font-weight: 600;
    /* margin-left: 120px; */
    margin: 0 auto;
    margin-bottom: 35px;
    border: 2px solid rgb(23, 140, 250);
    width: fit-content;
    padding: 10px;
    border-radius: 15px;
}

.event-continer > div {
    display: flex;
    /* height: 200px; */
}

.event-continer p {
    /* height: 200px; */
    /* width: 250px; */
    margin-top: 15px;
    text-align: justify;
}

.event-info h3 {
    color: white;
    text-align: center;
}

.event-info p {
    color: white;
    line-height: 20px;
    font-size: 15px;
    font-weight: 300;
}

.event-info img {
    width: 150px;
    height: 150px;
    align-self: center;
    justify-self: center;
    margin-top: 50px;
}

.event-info {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.events-tag-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    position: relative;
}

.events-tag-wrapper::before {
    position: absolute;
    content: '...';
    font-size: 100px;
    z-index: 1;
    top: -130px;
    color: rgb(23, 140, 250);
}

.events-tag-wrapper h2 {
    color: azure;
    width: fit-content;
    background-color:  #00243b;
    padding: 15px 250px;
    border-radius: 20px;
}

.top-1-icon {
    color: gold;
    margin-left: 8px;
}

.left-upper-footer img {
    width: 220px;
    height: 220px;
    margin-right: 5px;
}

.upper-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    width: 63%;
    margin: 0 auto;
    border-top: 2px solid #001a2c;
    margin-bottom: 40px;
    padding-top: 15px;
}

.upper-footer li {
    margin: 3px 0;
    font-size: 15px;
    color: rgb(185, 185, 185);
    cursor: pointer;
    transition-duration: 0.3s;
}

.upper-footer li:hover {
    color: white;
}

.left-upper-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

.left-upper-footer--ip {
    color: white;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 5px;
}

.left-upper-footer--ip span {
    color: rgb(23, 140, 250);
}

.left-upper-footer--slogan {
    color: white;
    font-size: 30px;
}

.right-upper-footer {
    border-left: 2px solid #001a2c;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.right-upper-footer h3 {
    margin-bottom: 8px;
}


.upper-footer-nav {
    border-left: 2px solid #001a2c;
    color: white;
    margin-left: 30px;
    padding: 31px 30px;
}

.lower-footer {
    background-color: #000a11;
    height: 50px;
    color: rgb(185, 185, 185);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-top: 20px;
}

.lower-footer span {
    color: white;
    cursor: pointer;
}
.lower-footer > div {
    margin-bottom: 5px;
}


@keyframes appear_on_page {
    0% {
        opacity: 0;
        /* transform: translateY(50px); */
        /* width: 1200px; */
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
        /* width: 100px; */
        /* transform: translateY(0px); */
    }
}
